
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/tab'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header', {variant:'compact'}); %>
</header>

<main>
    <%= err %>
    <span><%= data.method %></span>
    <span> </span>
    <span><%= data.url %></span>
    <span> </span>
    <span><%= (data.protocol || "").toUpperCase() %>/<%= data.version %></span>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>

