
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <body class="container">
 
   <main>
       <p><%= tagline %></p>
      <ul>
        <% mascots.forEach(function(mascot) { %>
            <li>
                <strong><%= mascot.name %></strong>
                representing <%= mascot.organization %>, born <%= mascot.birth_year %>
            </li>
        <% }); %>
      </ul>

      <table>
        <% mascots.forEach(function(mascot) { %>
            <tr>
                <td><%= mascot.name %></td>
                <td><%= mascot.organization %></td>
                <td><%= mascot.birth_year %></td>
            </tr>
        <% }); %>
      </table>

    </main>
 

</body>
</html>
